.drawer__header {
  height: 108px;
  background: #00bfa5;
  color: #ffffff;
  padding: 0 12px;
  /*position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 450px;*/
  z-index: 1;
}
.drawer__content {
  /*height: 83%;*/
  /*margin-top: 108px;*/
}
.drawer__header_controls,
.drawer__header_title-medium {
  display: inline-block;
  vertical-align: baseline;
  margin-top: 60px;
  font-size: 20px;
}
