.sidebar {
  display: inline-block;
  vertical-align: top;
  /*width: 40%;*/
  height: 100vh;
  min-width: 340px;
  /*max-width: 450px;*/
  background: #fefefe;
  color: #4b4b4b;
  border-right: 1px solid rgb(225, 222, 219);
  /*overflow-y: scroll;*/
  flex: 1;
}
